.container{
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    .table_container{
        height: calc(100% - 90px);
        margin-top: 8px;
    }
    .select{
        display: flex;
    }
    .rules_table{
        height: calc(100% - 90px);
    }
    .actions{
        a{
            color: var(--ant-primary-color)!important;
        }
    }
}