.fontSize7{
    font-size: 12px;
    svg{
        font-size: 12px;
    }
}
.marginBottom2{
    >svg{
        // margin-bottom: 2px;

    }   
}
.other{
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    .search{
        width: 200px!important;
    }
}

.body{
    background-color: #fff;
    height: 100%;
  }

//[class^='ant-input-suffix']