.node{
  height: 500px;
  visibility:scroll;
  .td{
    border: 1px solid #ECECEC;
    width: inherit;
  }
  .first{
    width: 150px;
    float: left;
  }
  .sencod{
    width: 272px;
    float: left;
    .td{
      height: 40px;
    }
  }
  .third{
    width: 520px;
    float: left;
    .td{
      height: 40px;
    }
  }
}
