.container {
  margin: 8px;
  background: #ffffff;
  border-radius: 8px;
  font-family: PingFangSC-Regular, PingFang SC;
  .top {
    display: flex;
    justify-content: space-between;
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 96px;
      height: 32px;
      background: #eff3fe;
      border-radius: 6px;
      cursor: pointer;
      h6 {
        margin-top: 6px;
        margin-right: 8px;
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        // line-height: 20px;
      }
    }
  }
  .list {
    margin-top: 8px;
    ul {
      overflow-y: auto;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;
        margin-bottom: 8px;
        height: 40px;
        background: #f7f7f7;
        border-radius: 6px;
        cursor: pointer;
        .title {
          width: 80%;
          font-size: 14px;
          font-weight: 400;
          color: #333333;
          line-height: 20px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          word-break: keep-all;
        }
        .title::before {
          content: '•';
          color: #1890ff;
          margin-right: 8px;
        }
        .date {
          width: 20%;
          font-size: 14px;
          font-weight: 400;
          color: #999999;
          text-align: right;
          // overflow: hidden;
          // white-space: nowrap;
          // text-overflow: ellipsis;
          // word-break: keep-all;
        }
      }
      li:hover {
        background: #1890ff;
        color: #ffffff;
        .title,
        .date {
          color: #ffffff;
        }
        .title::before {
          color: #ffffff;
        }
      }
    }
  }
}
