
.bjs-powered-by {
  display: none;
}
.djs-resizer{
  display: none;
}
.canvasView{
  height: 100%;
  position: relative;
  .djs-outline{
    stroke: white !important;
  }
}
.highLight  *{
    stroke: #1890FF !important;
    fill: none !important;
}
// .djs-connection {
//   path {
//     stroke: gray !important;
//     stroke-width:1px;
//     stroke-dasharray: 6 !important; //间隔多少像素绘制一次  虚线
//     marker-end: url(#sequenceflow-arrow-normal) !important;
//   }
// }


//  .highlight-0 .djs-visual > :nth-child(1) {
//     stroke: black !important;
//   }
//   .highlight-1 .djs-visual > :nth-child(1) {
//     stroke: black !important;
//     fill: #f8f8f8 !important;
//   }
  // .highlight-2 .djs-visual > :nth-child(1) {
  //   stroke: black !important;
  //   fill: #cff5fa !important;
  // }
  // .highlight-3 .djs-visual > :nth-child(1) {
  //   stroke: black !important;
  //   fill: #d7f6ce !important;
  // }

  /* 连线 */
  /* .highlight-20 .djs-visual > :nth-child(1) {
    stroke: black !important;
  }
  .highlight-23 .djs-visual > :nth-child(1) {
    stroke: green !important;
  }
  .highlight-24 .djs-visual > :nth-child(1) {
    stroke: red !important;
  } */
