// .addModal {
//   position: relative !important;
//   top: 30% !important;
// }
.moveOrCopy button:nth-child(1) {
  width: 80px;
  position: absolute;
  left: 48px;
}

.moveOrCopy {
  :global {
    .ant-tree-show-line .ant-tree-indent-unit {
      opacity: 0;
    }
    .ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle{
      line-height: 22px;
    }
    .ant-tree-icon__customize{
      color: #1890ff;
    }
  }
}
.button_width{
  width: 48px;
  height: 32px;
}