@font-face {
    font-family:'方正粗楷简体';
    src: url('./fonts/fzckjt.TTF') format('truetype');
}
@font-face {
    font-family:'hanyangheiti';
    src: url('./fonts/hanyangheiti.ttf') format('truetype');
}
@font-face {
    font-family:'仿宋_GB2312';
    src: url('./fonts/fangsong.ttf') format('truetype');
}
@font-face {
    font-family:'方正小标宋简体';
    src: url('./fonts/songti.ttf') format('truetype');
}
@font-face {
    font-family:'MSYH';
    src: url('./fonts/MSYH.TTF') format('truetype');
}