.warp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 32px;
  width: 100%;
  position: absolute;
  bottom: 8px;
  // padding-right: 8px;
  right: 8px;
  background-color: #fff;
  z-index: 99;

  .pagination {
    margin-right: 8px;
  }
}

.iPagination_button {
  width: 48px;
  // margin-left: 8px;
  // border: solid 1px #D9D9D9 !important;
  // background-color: #fff;
  // color: #505766;

  // &:hover,
  // &:focus {
  //   border: solid 1px #505766 !important;
  //   background-color: #fff;
  //   color: #505766;
  // }
}
