.fontSize7{
    font-size: 12px;
    svg{
        font-size: 12px;
    }
}
.marginBottom2{
    >svg{
        // margin-bottom: 2px;

    }   
}
.other{
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    .search{
        width: 200px!important;
    }
}
.table_warp{
    overflow: hidden !important;
    height: 100%;
}

.body{
    background-color: #fff;
    height: 100%;
    :global{
      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
        color: var(--ant-primary-color);
      }
      .ant-tabs-tab:hover{
        color: var(--ant-primary-color);
      }
      .ant-tabs-ink-bar{
        background: var(--ant-primary-color);
      }
    }
  }
  .mainVersion{
    color: #1890FF;
    font-size: 12px;
  }
  .nodeContent{
    width:100%;
    position:relative;
    height: 100%;
  }
  .listPoint{
    cursor: pointer;
    a{
      color: #1890FF;
    }
  }
  .modalStyle{
    width: 100px;
    // height: 90px;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    li{
      height: 30px;
      line-height: 30px;
      border-bottom: 1px solid #ccc;
      font-size: 13px;
      text-align: center;
      p{
        width: 100%;
        text-align: center;
        cursor: pointer;
      }
    }
    li:last-child{
      border:0
    }
  }
  .table_list{
    height: 100%;
    position: relative;
    :global{
      .ant-table-pagination.ant-pagination{
        position: absolute;
        right: 8px;
        bottom: -8px;
      }
      .ant-switch-checked{
        background-color: var(--ant-primary-color);
      }
    }
  }
  .actions{
    a{
      color: var(--ant-primary-color) !important;
    }
  }
//[class^='ant-input-suffix']

.flow_engine{
  :global{
    .main_body___qMQc1{
      overflow: hidden;
    }
    .ant-spin-container{
      overflow: auto;
    }
    .main___jqF6q{
      padding-right: 0;
    }
  }
}