@font-face {
  font-family: "iconfont"; /* Project id 2428052 */
  src: url('iconfont.woff2?t=1649987002496') format('woff2'),
       url('iconfont.woff?t=1649987002496') format('woff'),
       url('iconfont.ttf?t=1649987002496') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconyusuanzhibiaoguanli1:before {
  content: "\e61f";
}

.iconyusuanbianbaoguanli1:before {
  content: "\e620";
}

.iconjichushujuguanli1:before {
  content: "\e621";
}

.iconzhichuguanli1:before {
  content: "\e622";
}

.iconhetongguanli1:before {
  content: "\e623";
}

.iconzichanguanli1:before {
  content: "\e624";
}

.iconcaigouguanli1:before {
  content: "\e61e";
}

.icongongzuoshixiang-copy:before {
  content: "\e61d";
}

.icongongzuoshixiang:before {
  content: "\e615";
}

.iconcaigouguanli:before {
  content: "\e616";
}

.iconjichushujuguanli:before {
  content: "\e617";
}

.iconzhichuguanli:before {
  content: "\e618";
}

.iconyusuanzhibiaoguanli:before {
  content: "\e619";
}

.iconyusuanbianbaoguanli:before {
  content: "\e61a";
}

.iconhetongguanli:before {
  content: "\e61b";
}

.iconzichanguanli:before {
  content: "\e61c";
}

.icondaibanshixiang:before {
  content: "\e60e";
}

.icontongxunlu1:before {
  content: "\e60f";
}

.iconzichankapianqingdan:before {
  content: "\e610";
}

.iconxiangmuyusuanzhibiao:before {
  content: "\e611";
}

.iconzhibiao:before {
  content: "\e612";
}

.iconzhijiebaoxiao:before {
  content: "\e613";
}

.iconchuchashenqing:before {
  content: "\e614";
}

.icontongxunlu:before {
  content: "\e60c";
}

