.file {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;

  tr {
    display: flex;
    justify-content: flex-start;

    td {
      display: -webkit-box;
      overflow: hidden;
      white-space: normal !important;
      text-overflow: ellipsis;
      word-wrap: break-word;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      margin-top: 8px;
      width: 50%;
    }
  }
}

.table {
  margin-top: 10px;
  :global{
    .ant-table-cell{
      height: 48px;
    }
  }
}
.disk_name{
  display: flex;
  align-items: center;
}

.org {
  // height: 445px;
  padding: 0px;
  :global {
    .ant-tree-show-line .ant-tree-indent-unit {
      opacity: 0;
    }
  }
}

.resetName {
  position: relative !important;
  top: 30% !important;
}
.publicTable{
  position: relative;
}
.button_width{
  width: 48px;
  height: 32px;
}

.page {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
.publicPage {
  position: absolute;
  bottom: 45px;
  right: 0;
  width: 80%;
}

.pageDet {
  position: absolute;
  bottom: 50px;
  right: 10px;
  width: 90%;
}

.modelDetail {
  :global {
    .ant-modal-content .ant-modal-body {
      overflow: hidden !important;
    }
  }
}
