.tag_box {
    padding: 5px 10px;
    color: #666;
    border-radius: 4px;
    height: fit-content;
    .tag_orgName {
        margin-right: 5px;
    }
    .tag_icon {
        color: #666;
        font-size: 14px;
        cursor: pointer;
    }
}
.tag_box:hover {
    background-color: #f4f4f4;
}

.tag_box_error {
    padding: 5px 10px;
    color: #fff;
    border-radius: 4px;
    height: fit-content;
    .tag_orgName {
        font-weight: bolder;
        cursor: pointer;
        color: #ff4d4f;
        margin-right: 5px;
    }
    .tag_icon {
        font-size: 14px;
        cursor: pointer;
        color: #ff4d4f;
    }
}

.tag_box_error:hover {
    background-color: #f4f4f4;
}

.check_box {
    padding: 0 10px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    overflow-y: auto;
    .quanzhongImg {
        width: 300px;
        height: auto;
    }
    .quanzhongText {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 52px;
        background-color: #1890ff;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.34901960784313724);
        color: #fff;
        cursor: pointer;
        padding: 5px 20px;
        font-size: 26px;
        min-width: 120px;
        border-radius: 8px;
    }
    .quanzhongTextClick {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 52px;
        background-color: #d7d7d7;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.34901960784313724);
        color: #fff;
        cursor: pointer;
        padding: 5px 20px;
        font-size: 26px;
        min-width: 120px;
        border-radius: 8px;
    }
}
