.web_buttons{
  float: right;
  &>span{
    margin-right: 4px;
  }
  button{
    margin: 0 4px 0px 0px;
  }
}
.mobile_buttons{
  .icon{
    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid var(--ant-primary-color);
    font-size: 16px;
    color: var(--ant-primary-color);
    margin-right: 8px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
  }
}