.select_biz_sol,.design{
  .left_title{
    border-bottom: 1px solid;
    height: 33px;
    padding-left: 8px;
    line-height: 33px;
  }
  .right_title{
    height: 32px;
    padding-left: 8px;
    line-height: 32px;
  }
  :global{
    .v_resize___p6J8q{
      height: calc(100% - 33px) !important;
      margin-top: 33px;
    }
  }
}
