// .form {
//   :global {
//     .ant-form-item {

//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;

//       .ant-space-item {
//         min-height: 35px;
//       }
//     }
//   }
// }
.txt {
  outline: none;
  color:transparent;
  text-shadow:0 0 0 #000;
  width:200px;
}
.migrate{
  width: 200px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  border:solid 1px #d9d9d9;
  padding-left: 10px;
  color:#000;
  span{
    color:rgb(181 185 181 / 1);
    font-weight: bold;
  }
  
}


