// .container___2Azr_ {
//   height: calc(100% - 125px);
// }

.relation_container {
  width: 100%;
  padding: 0px 14px;
  background: #FFFFFF;
  border-radius: 4px;
  height:100%
}
.button{
  margin: 8px 0px;
}
