.dom_container {
    padding: 16px;
}
.list_header {
    button {
        margin-right: 10px;
    }
    .header_search {
        float: right;
        width: 300px;
    }
    padding: 5px 0px;
}
.header_title {
    font-weight: 700;
    font-size: 18px;
    color: #333333;
    text-align: center;
    width: 100%;
    line-height: 25px;
    margin-bottom: 10px;
}
.card_choice {
    .place_text {
        color: #333333;
        font-weight: 700;
        font-size: 14px;
        color: #333333;
    }
    button {
        margin-left: 5px;
    }
}
.form_container {
    :global {
        .ant-col {
            padding: 0px !important;
            label {
                margin-left: 12px;
            }
        }
        .ant-row {
            margin: 0px !important;
        }
        .ant-form-item {
            .ant-form-item-label > label {
                color: #333 !important;
            }
        }
    }
}
.input_number {
    width: 100% !important;
}
.form_item_text {
    width: 100%;
    text-align: center;
}
.form_title {
    font-weight: 500;
    line-height: 3;
    color: #333333;
    width: 100%;
    text-align: center;
    font-size: 24px;
}
.input_number_left {
    margin-left: 12px !important;
    width: calc(100% - 12px) !important;
}
.footer_text {
    line-height: 20px;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    margin-left: 12px;
    span {
        font-size: 18px;
        float: right;
    }
}
.header_text {
    line-height: 3;
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    margin-left: 12px;
    span {
        float: right;
    }
}
.first_text {
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 30px;
    span {
        float: left;
        display: inline-block;
        width: 25%;
        text-align: left;
        padding-left: 16px;
    }

    span:first-child {
        padding-left: 0px;
    }

    a {
        float: left;
        margin-right: 20px;
        color: #333333;
        font-size: 14px;
        font-weight: 700;
    }
}

.service_footer_text {
    margin: 20px 0;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
}
.table_container {
    height: calc(100% - 100px);
    width: 100%;
}
.header_search_card {
    float: right;
    width: 300px !important;
    margin-bottom: 10px;
}
.tablelist {
    width: 100%;
    height: calc(100% - 42px);
    margin-top: 32px;
    position: relative;
    :global {
        .drag_tabel___2_C8C {
            height: auto !important;
        }
    }
}
.tableservicelist {
    width: 100%;
    height: calc(100% - 145px);
    :global {
        table {
            height: 100%;
        }
        .drag_tabel___2_C8C {
            height: auto !important;
        }
    }
}
