# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# config
/project_config
/design_vue
# output
output
output/*
outputbak
outputbak/*
node_modules
node_modules/*
form_preview
# designer
.idea
