@8px: 0.57rem; // 8px
@12px: 0.85rem; //12px;
@14px: 1rem; //14px;
@24px: 1.71rem; // 左右24px
@20px: 1.42rem; // 20px
@72px: 5.14rem; // 72px 
@26px: 1.85rem; 
@30px: 2.14rem;
@10px: 0.71rem;
@36px: 2.57rem;
@15px: 1.07rem;
@13px: 0.93rem;
@54px: 3.86rem;
@16px: 1.142rem;
@4px: 0.286rem;
@154px: 11rem;
@32px: 2.284rem;
@6px: 0.429rem;
@56px: 4rem;
@28px: 2rem;
.calendar{
    background: #F5F5F5;
    border-top: 1px solid transparent;
    overflow: hidden;
    padding-bottom: @8px;
    .calendar_picker{
        // height: 205px;
        margin-top: @12px;
        margin-bottom: @12px;
        background: #fff;
        :global{
            .date-lunar{
                position: relative;
                top: -5px;
            }
            .bottom-operate{
                bottom: 6px;
            }
            .calendar-today{
                top: 3px;
            }
            .calendar-pluse{
                top: 3px;
            }
        }
    }
    .calendar_list{
        padding:0 @12px @12px @12px;
        height: calc(100% - 142px);
        overflow-y: auto;
        .calendar_item{
            padding: @12px 0 @12px @12px;
            margin-bottom: @10px;
            background: #fff;
            .title{
                font-size: @16px;
                color: #333333;
                margin-bottom: @10px;
                width: 98%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; 
            }
            .sign{
                display: flex;
                margin-bottom: 12px;
                .level{
                    background: rgba(250,44,25,0.1);
                    border-radius: 3px;
                    border: 1px solid #F58277;
                    color: #FA2C19;
                    display: flex;
                    align-items: center;
                    // width: @32px;
                    // height: @16px;
                    // line-height: @13px;
                    // display: inline-block;
                    padding:0 @10px;
                    // text-align: center;
                    margin-right: @8px;
                    font-size: @12px;
                }
                .type_SELF_TO_OTHER{
                    background: #E0F7EA;
                    border-radius: 3px;
                    border: 1px solid #83D6A7;
                    padding: 0 @4px;
                    font-size: @12px;
                    color: #70D19A;
                    font-size: @12px;
                }
                .type_OTHER_TO_SELF{
                    padding: 0 @4px;
                    background: #FEEAD1;
                    border-radius: 3px;
                    border: 1px solid #F2C68F;
                    font-size: @12px;
                    color: #F8981F;
                }
                .type_SELF{
                    font-size: @12px;
                    color: #33B7ED;
                    text-align: center;
                    padding: 0 @4px;
                    background: rgba(51,183,237,0.1);
                    border-radius: 3px;
                    border: 1px solid #87CEEB;
                }
            }
            .startTime{
                margin-bottom: @6px;
                font-size: @14px;
                color: #666666;
                span{
                    color: #333;
                }
            }
            .address{
                display: flex;
                span{
                    display: inline-block;
                    margin-left: 3px;
                    width: calc(100% - 45px);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .endTime,.address,.creator{
                margin-bottom: @4px;
                font-size: @14px;
                color: #666666;
                span{
                    color: #333;
                }
            }
            // .creator{
            //     text-indent: @14px;
            // }
            // .address{
            //     text-indent: @28px;
            // }
            .relation{
                font-size: @14px;
                color: #666666;
                // text-indent: @14px;
                span{
                    color: #333;
                }
            }
        }
        :global{
            .footer_more{
                display: flex;
                justify-content: center;
            }
        }
    }
}