
.modal_style{
 overflow: hidden;
}

.title_change{
    display: flex;
    cursor: move;
    .title_text{
        position: absolute;
        right: 45px;
        top:9px;
        span{
            margin-left: 10px;
            cursor: pointer;
        }
        .small{
            margin-right: 6px;
        }
        .back{
            display: inline-block;
            margin-top: 0px;
        }
    }
}  