.flex_range {
    margin-top: 8px;
    :global {
        .ant-select-selector {
            width: 130px !important;
        }
        .ant-input-number {
            width: 130px !important;
        }
        .ant-input {
            width: 130px !important;
        }
    }
}

.rangeDataName {
    width: 120px !important;
}
.multipleSelect {
    // float: left;
    :global {
        .ant-select-selector {
            width: 400px !important;
        }
    }
}
.addConditionBtn {
    width: fit-content;
    position: absolute;
    left: 500px;
    top: -40px;
}

.svg {
    margin-bottom: 8px;
    margin-left: 10px;
}
