

.add_form{
    top:20% !important;
    .bt_group{
        width: 150px;
        margin: 0 auto;
        button{
            width: 80px;
            border-radius: 4px;
            height: 28px;
            
            
        }
        [class^="ant-bt"]{
            padding: 0;
        }
    }
}
.other{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    .bt_gp{
        button{

            border-radius: 4px;
            // border: 1px solid #E4E4E4;
            margin-left: 8px;
            // height: 28px;
            // min-width: 64px;
            font-size: 14px;
            // padding: 0 5px!important;
        }
        
        [class^="ant-bt"]{
            padding: 0;
        }
    }
}

.text{
    // width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search{
    width: 220px!important;
}
// .operation_list{
//     .search{
//         width: 200px!important;
//         float: right;
//     }
// }
.userGroup_table{
    height:calc(100% - 90px);
    :global{
        .ant-table-body{
            height:100%
        }
    }
}


