.look_warp {
  .table_warp {
    width: 100%;
    td {
      padding: 6px;
    }
    .value_style {
      background-color: #f2f2f2;
    }
    .title_style {
      width: 120px;
      text-align: center;
    }
  }
}
