//左侧列表
.ant-menu-light .ant-menu-item:hover {
  background-color: var(--ant-primary-color);

  .ant-pro-menu-item-title {
    color: #fff;
  }

  p {
    color: #fff;
  }
}

.ant-menu-light .ant-menu-submenu-title:hover {
  color: var(--ant-primary-color);

  .ant-menu-submenu-arrow {
    color: var(--ant-primary-color);
  }
}

.ant-menu-submenu-selected,
.ant-pro-setting-drawer-block-checkbox-selectIcon {
  color: var(--ant-primary-color) !important;
}

.ant-menu-inline .ant-menu-item::after {
  border-right: none !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: var(--ant-primary-color) !important;
}

.ant-pro-sider.ant-layout-sider-light .ant-menu-item-selected a,
.ant-pro-sider.ant-layout-sider-light .ant-menu-item a:hover {
  color: #fff !important;
}

.ant-menu-submenu-inline .ant-menu-submenu-arrow:after {
  transform: rotate(45deg) translate(-2.5px, -5px);
}

//左侧菜单hover的字体颜色7747bug
.ant-menu-item-selected,
.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: #fff !important;
}

.ant-menu-light .ant-menu-item:hover {
  background-color: var(--ant-primary-color);

  .ant-pro-menu-item-title {
    color: #fff;
  }
}

.ant-menu-sub.ant-menu-inline>.ant-menu-item {

  // padding-left: 22px!important;
  // .ant-pro-menu-item-title{
  //   color: #666666;
  // }
  .anticon {
    font-size: 16px;
    color: #777777;
  }
}

.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  // padding-right: 16px;
  padding-right: 8px;

  // padding-left: 16px!important;
  .anticon {
    font-size: 18px;
  }

  .layout_icon {
    color: #999;
  }
}

.ant-menu-item-only-child .ant-pro-menu-item {

  // padding-left: 16px!important;
  .anticon {
    font-size: 18px;
  }

  .menuicon {
    padding-right: 0px;
    margin-bottom: 0px;
  }
}

.ant-menu-sub.ant-menu-inline>.ant-menu-item:hover {
  .ant-pro-menu-item-title {
    color: #fff !important;
  }

  .anticon {
    color: #fff !important;
  }
}

.ant-menu-sub.ant-menu-inline>.ant-menu-item-selected {
  .ant-pro-menu-item-title {
    color: #fff !important;
  }

  .anticon {
    color: #fff !important;
  }
}

.ant-menu-inline.ant-menu-root .ant-menu-submenu-title:hover {
  background-color: var(--ant-primary-color);

  .ant-pro-menu-item-title {
    // color: var(--ant-primary-color);
    color: #fff;
  }

  .layout_icon {
    // color: var(--ant-primary-color);
    color: #fff;
  }

  .anticon {
    color: #fff;
    // color: var(--ant-primary-color);
  }
}

.ant-menu-item-only-child:hover {
  .ant-pro-menu-item-title {
    color: #fff;
  }

  .anticon {
    color: #fff;
  }
}

.ant-menu {
  font-size: 16px;
  color: #333;
}

.ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title>.ant-menu-title-content {
  font-size: 16px;
}

// .ant-menu-item-selected .ant-pro-menu-item-title{
//   color:#fff!important;
// }

.ant-menu-submenu-selected {
  &>div {
    .layout_icon {
      color: var(--ant-primary-color) !important;
    }

    .ant-menu-title-content {
      &>div {
        color: var(--ant-primary-color) !important;
      }
    }
  }
}

.ant-menu-item-selected {
  .ant-menu-title-content {
    &>a {
      &>div {
        color: #fff !important;
      }
    }
  }
}

.ant-menu-sub.ant-menu-inline {
  background-color: #f7f9fd;

  .ant-menu-submenu-inline {
    .anticon {
      font-size: 16px;
    }
  }
}

.ant-layout-sider-children {
  ::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
  }
}

// .ant-menu-inline .ant-menu-item{
//   padding-left: 8px!important;
//   padding-right: 8px!important;
// }
// .ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
//   padding-left: 8px!important;
//   padding-right: 8px!important;
// }
// // .ant-menu-sub.ant-menu-inline{
// //   padding-left: 8px!important;
// // }
// .ant-menu-sub.ant-menu-inline{
//   padding-left: 0px!important;
//     .ant-menu-submenu-title{
//       padding-left: 16px!important;
//       background-color: red;
//     }

// }

.ant-pro-sider-links {

  // background-color: red;
  .ant-menu-item {
    margin: 0px !important;
    height: 28px !important;
    line-height: 28px !important;
    padding-left: 8px !important;
  }

  .anticon-menu-unfold {
    line-height: 28px !important;
  }

  // .ant-menu-item:hover{
  //   background-color: unset;
  //   color:rgba(0, 0, 0, 0.85);
  // }

}

.ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title,
.ant-menu-submenu,
.ant-menu-submenu-inline,
.ant-menu-title-content,
.ant-menu-submenu-title .anticon,
.ant-menu-submenu .ant-menu-sub {
  transition: none !important;
}

.ant-pro-global-footer-copyright {
  font-size: 12px !important;
}

.ant-menu-sub.ant-menu-inline {
  background: #f5f5f5 !important;
}

.ant-menu-inline .ant-menu-submenu-title {
  margin: 0px !important;
}

.ant-menu-inline .ant-menu-item {
  margin: 0px !important;
}

// .ant-layout-sider-children{
//   margin-top: 4px!important;
// }

// 左侧菜单 鼠标放上自动展开，宽度自适应 start
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed:not(.ant-layout-sider-collapsed) {
  max-width: unset !important;
  width: auto !important;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed:not(.ant-layout-sider-collapsed)>div>div:first-child {
  max-width: 210px;
  width: auto !important;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed:not(.ant-layout-sider-collapsed)>div>div:first-child:hover {
  max-width: unset !important;
}


.ant-menu-hidden,
.ant-menu-submenu-hidden {
  display: block !important;
  overflow-y: hidden !important;
  height: 0 !important;
}

// 左侧菜单 鼠标放上自动展开，宽度自适应 end


// .ant-menu-item:not(:last-child){
.ant-menu-item{
  margin-bottom: 0px!important;
  margin-top: 0px!important;
}
// .ant-menu-item:not(:first-child){
//   margin-top: 0px!important;
// }
.ant-menu-submenu-title{
  margin-bottom: 0px!important;
  margin-top: 0px!important;
}
.layout_dark{
  .ant-menu.ant-menu-dark{
    background: #383E4D!important;
    .ant-menu-item .ant-menu-item-icon, .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu-item .anticon, .ant-menu-submenu-title .anticon{
      color: #C9C9C9;
    }
    
    .ant-menu-sub.ant-menu-inline{
      background: #3F475C!important;
    }
    .ant-menu-item-selected,
    .ant-menu-submenu-title:hover,
    .ant-menu-item:hover{
      background-color: rgb(30, 37, 55)!important;
      .anticon{
        color: #FFF;
      }
    }
    .ant-menu-submenu-selected > div .ant-menu-title-content > div,
    .ant-menu-submenu-selected > div .layout_icon{
      color: #fff!important;
      .anticon{
        color: #FFF;
      }
    }
    .ant-menu-item::after{
      border-right: 5px solid var(--ant-primary-color)!important;
      left: 0;
      right: unset;
    }
  }

  .ant-pro-sider-links{
    .ant-menu-item:hover{
      background: rgb(30, 37, 55);
    }
    background: #383E4D;
    .ant-menu{
      color: #c9c9c9;
    }
  }
  .ant-layout-sider{
    background: #383E4D;
  }
  // .ant-pro-sider-collapsed-button {
  //   border: 0!important;
  // }
}

