.ant-message, .ant-notification {
  z-index: 10001 !important;
}
//全局提示框
.ant-message-notice-content {
  padding: 0 !important;
  border-radius: 4px;
}

.ant-message .anticon {
  position: relative;
  top: 1px;
  margin-right: 8px;
  font-size: 18px;
}

.ant-message-warning {
  display: inline-block;
  height: 40px;
  border: solid 1px #ffa600;
  background: #fff7e8;
  padding: 0 24px 0 12px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.1);
  pointer-events: all;
  color: #333;
  font-size: 12px;
  line-height: 40px;
}

.ant-message-success {
  display: inline-block;
  height: 40px;
  border: solid 1px #30bd82;
  background: #eef9f5;
  padding: 0 24px 0 12px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.1);
  pointer-events: all;
  color: #333;
  font-size: 12px;
  line-height: 40px;
}

.ant-message-error {
  display: inline-block;
  height: 40px;
  border: solid 1px #ff5375;
  background: #fff4f2;
  padding: 0 24px 0 12px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.1);
  pointer-events: all;
  color: #333;
  font-size: 12px;
  line-height: 40px;
}
