//分页
.ant-pagination {
  font-size: 14px;
  color: #333333;
  height: 32px !important;
  line-height: 32px;

  .ant-pagination-total-text {
    height: 32px;
    color: #333333;
    line-height: 32px;
    margin-right: 4px;
  }

  .ant-pagination-disabled .ant-pagination-item-link {
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: none;
  }

  .ant-pagination-prev,
  .ant-pagination-next {
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    border: none;
  }

  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    border: none;
    color: #333333;
    height: 32px;
    line-height: 32px;
  }

  .ant-pagination-prev:hover .ant-pagination-item-link,
  .ant-pagination-next:hover .ant-pagination-item-link {
    color: #333333;
  }

  .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
  .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis,
  .container .ant-pagination-jump-prev,
  .container .ant-pagination-jump-next,
  .ant-pagination-item-link {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }

  .ant-pagination-item {
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    color: #333333;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    margin-right: 4px;
  }

  .ant-pagination-prev {
    margin-right: 4px;
  }

  .ant-select-single .ant-select-selector .ant-select-selection-item {
    line-height: 32px;
  }

  .ant-pagination-options {
    margin: 0;
  }

  .ant-select-selector {
    margin-left: 4px;
    color: #333333;
  }

  .ant-select-item {
    font-size: 14px;
  }

  .ant-select-arrow {
    font-size: 14px;
  }

  .ant-select-dropdown {
    width: 83px;
    max-height: 165px;
    border-radius: 4px;
  }

  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 83px;
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    border-radius: 4px;
    font-size: 14px;
  }

  .ant-pagination-options-quick-jumper {
    height: 32px;
    line-height: 32px;

    input {
      width: 50px;
      height: 32px;
      border-radius: 4px;
    }
  }

  .ant-pagination-options-quick-jumper input:focus {
    box-shadow: none;
    border-color: #505766;
  }

  .ant-pagination-options-quick-jumper input:hover {
    border-color: #505766;
  }

  //分页(选中)
  .ant-pagination-item-active {
    display: inline-block;
    background-color: #adb4bc;
    // width: 20px;
    // height: 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;

    a {
      color: #ffffff;
      font-size: 14px;
    }
  }

  //滑过
  .ant-pagination-item:hover {
    // width: 20px;
    // height: 20px;
    border: solid 1px #adb4bc;
    border-radius: 4px;

    a {
      color: #333333;
      font-size: 14px;
    }
  }

  .ant-pagination-item:focus {
    // width: 20px;
    // height: 20px;
    border: solid 1px #adb4bc;
    background-color: #adb4bc;
    border-radius: 4px;

    a {
      color: #fff;
      font-size: 14px;
    }
  }
}
.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
  color: #333;
}

.ant-pagination-item a {
  display: block;
  padding: 0;
  color: #333333;
  transition: none;
}
