//下拉selectTODO
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 32px;
  line-height: 32px;
  // padding: 0 8px;
  border-radius: 4px !important;

  &:hover {
    border-color: #505766;
  }
}

.ant-select-selection-item {
  color: #333333;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.antd-select-customize-input) .ant-select-selector {
  box-shadow: none !important;
  border-color: #505766 !important;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector:hover {
  border-color: #505766 !important;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item {
  font-size: 14px;
  line-height: 32px;
}

.ant-select-item-option-content {
  font-size: 12px;
}

//select展示框
.ant-select-dropdown {
  padding: 8px 0;
  border: solid 1px #d9d9d9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #f0f0f0;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #f6f6f6;
}

.ant-select-focused {
  .ant-select-arrow {
    color: #999;
  }
}
