// //树结构样式
.ant-tree .ant-tree-node-content-wrapper {
  margin-bottom: 5px;
  padding: 0 4px!important;
}
.ant-tree-treenode.ant-tree-treenode-switcher-close.ant-tree-treenode-selected{
  background-color: var(--ant-primary-color-deprecated-f-12) !important;
  width: 100%;
  // svg{
  //   color: #fff;
  // }
}
.ant-tree-treenode.ant-tree-treenode-switcher-open.ant-tree-treenode-selected{
  // width: 100%;
  // display: inline-block;
  background-color: var(--ant-primary-color-deprecated-f-12) !important;
  // svg{
  //   color: #fff;
  // }
  
}
// .ant-tree-list-holder{
//   padding: 0 8px;
// }
.ant-tree-treenode.ant-tree-treenode-selected{
  width: 100%;
  background-color: var(--ant-primary-color-deprecated-f-12) !important;
}
.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: transparent !important;
  color: var(--ant-primary-color) !important;
  .ant-tree-title{
    color: var(--ant-primary-color) !important;
  }
}
// .ant-tree-node-content-wrapper:hover {
//   .anticon {
//     color: #fff !important;
//   }
// }
.ant-tree-treenode:hover{
  width: 100%;
  background: rgb(246,246,246)!important;
  .ant-tree-title {
    color: var(--ant-primary-color) !important;
  }
  // svg{
  //   color: var(--ant-primary-color);
  // }
}
.ant-tree .ant-tree-node-content-wrapper:hover {
  background-color: transparent !important;
  color: var(--ant-primary-color) !important;
  .ant-tree-title {
    color: var(--ant-primary-color) !important;
  }
}
.ant-tree-treenode.ant-tree-treenode-selected:hover{
  width: 100%;
  background: var(--ant-primary-color-deprecated-f-12)!important;
  .ant-tree-title {
    color: var(--ant-primary-color) !important;
  }
  // svg{
  //   color: #fff;
  // }
}

// 展开收起 图标大小14px
.ant-tree-switcher .ant-tree-switcher-icon {
  font-size: 14px !important;
}
.ant-tree-switcher {
  line-height: 24px !important;
}
// 树
.ant-tree-list {
  font-size: 14px !important;
}

.ant-tree-title {
  white-space: nowrap !important;
  color: #333333 !important;
}
.ant-tree-show-line .ant-tree-switcher{
  background: transparent !important;
}

.ant-tree-list-scrollbar-thumb {
  background: #E9E9E9 !important;
  border-radius: 50%;
}
//这个是为了不显示那条线
.ant-tree-switcher-noop,
.ant-tree-show-line .ant-tree-indent-unit {
  visibility: hidden;
}

// .ant-tree-switcher-noop:not(.ant-tree-switcher-noop.ant-tree-switcher-noop_open) {
//   width: 0 !important;
// }

.ant-tree-indent-unit {
  width: 10px !important;
}

.ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle {
  margin-right: 4px !important;
  width: 14px;
}

.ant-tree-switcher {
  width: 14px !important;
  margin: 0px 2px 0 8px !important;
}