.backlogo_form{
    :global{
        .ant-input[disabled] {
            color: #333;
            background-color: #fff; 
            border-color: #fff !important;
            cursor: default; 
        }
        .ant-form .ant-form-item-label {
            width: 56px;
        }
        .ant-form-item textarea.ant-input {
            margin-top: 5px;
        }
    }
}
.goTransact{
    border-color: #d9d9d9;
    background: #fff;
    color: #505766;
    &:hover{
        background-color: #fff;
        border-color:#505766;
        color:#505766;
    }
}