.manageModel{
    position: relative;
    padding: 8px;
    margin-bottom: -15px;
    width: 100%;
}
.header{
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    .search{
        width: 200px!important;
    }
}
.sucess{
    color: #1ca93f;
    cursor: pointer;
}
.lose{
    color: red;
    cursor: pointer;
}
.expand_color{
    color:#1890FF;
}