.follow {
  padding: 0 15px;
  font-family: PingFangSC-Semibold, PingFang SC;
  .header {
    :global {
      .ant-tabs-tab:first-child{
        border-left: none!important;
      }
    }
  }
  .list {
    margin-top: -10px;
    height: calc(100% - 40px);
    :global{
      .ant-table-tbody > tr > td {
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        border-bottom: 1px dashed #f0f0f0;
      }
    }
  }
}
.title {
  cursor: pointer;
  a {
    display: inline-block;
    width: 17px;
    height: 17px;
    text-align: center;
    margin-right: 5px;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    line-height: 17px;
    border-radius: 50%;
  }
  .color0 {
    color: #FFFFFF;
    background: var(--ant-primary-color);
  }
  .color1 {
    color: #FFFFFF;
    background: var(--ant-primary-5);
  }
  .color2 {
    color: #FFFFFF;
    background: var(--ant-primary-3);
  }
}