.space_actions{
    a{
        color: var(--ant-primary-color) !important;
    }
}
.global_viewer{
    height: 100%;
    width: 100%;
    :global{
        .table___KdWwA{
            overflow-y: hidden;
        }
    }
}