
/* .bjs-powered-by {
    display: none;
} */
.highlight .djs-visual > :nth-child(1) {
    stroke: green !important;
    fill: rgba(0, 80, 0, 0.4) !important;
}


/* .highlight-0 .djs-visual > :nth-child(1) {
    stroke: black !important;
  }
  .highlight-1 .djs-visual > :nth-child(1) {
    stroke: black !important;
    fill: #f8f8f8 !important;
  }
  .highlight-2 .djs-visual > :nth-child(1) {
    stroke: black !important;
    fill: #cff5fa !important;
  }
  .highlight-3 .djs-visual > :nth-child(1) {
    stroke: black !important;
    fill: #d7f6ce !important;
  } */
  
  /* 连线 */
  /* .highlight-20 .djs-visual > :nth-child(1) {
    stroke: black !important;
  }
  .highlight-23 .djs-visual > :nth-child(1) {
    stroke: green !important;
  }
  .highlight-24 .djs-visual > :nth-child(1) {
    stroke: red !important;
  } */