.add_Modal{
    height: 100%;
    // a{
    //     color: var(--ant-primary-color);
    // }
    &>div{
        padding: 8px 0px 0px 8px;
        // :global{
        //     // .main___2gllb{
        //     //     padding: 0 8px 0 0;

        //     // }
        //     // .tree_dom___1LIIh{
        //     //     overflow: unset;
        //     // }
        //     // .drag_tabel___2L49k{
        //     //     height: calc(100% - 88px);
        //     // }
        //     // .drag_tabel___ovkrI{
        //     //     height: calc(100% - 88px);
        //     // }
        //     // .main_header___AQ8kD{
        //     //    margin-bottom: 8px;
        //     //    height: 32px;
        //     // }
        // }
        // &>div{
        //     &>div{
        //         padding: 0 16px 0 0;
        //     }
        // }
    }
    .right_container{
        height: 100%;
        width: 100%;
        // margin-left: -4px;
    }
    :global{
        .ant-table-thead>tr>th {
            font-weight: normal;
        }

    }
}
// .modal_table{
//     #drag_table{
//         height: calc(100% - 52px);
//     }
// }
