.titleText {
    margin-top: 10px;
    color: #03a4ff;
}

.deButton {
    background-color: #fff !important;
    border-color: #d9d9d9 !important;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02) !important;
    color: rgba(0, 0, 0, 0.88) !important;
}

.psdButton {
    color: var(--ant-primary-color) !important;
}
