.errMsg {
  width: 200px;
  overflow: auto;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.errMsg::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
.regiter {
  margin-right: 8px;
}
.db_top {
  text-align: center;
  font-weight: bold;
  padding-bottom: 8px;
  margin-top: 35px;
  border: 1px solid black;
}
.db_title {
  text-align: center;
  font-weight: bold;
  padding-bottom: 8px;

  border: 1px solid black;
}
.db_first {
  text-align: center;
  font-weight: bold;
  padding-bottom: 8px;
  font-size: 25px;
}
.db_text {
  text-align: center;
  font-weight: bold;
  padding-bottom: 8px;
  font-size: 25px;
  border: 1px solid black;
}
.db_middle {
  text-align: center;
  font-weight: bold;
  padding-bottom: 8px;
  font-size: 20px;
  border: 1px solid black;
}
.input_cash {
  width: 220px;
}
.table {
  position: relative;
  height: 100%;
}
