.user_title {
  width: 100%;
  // height: 152px;
  height: 100%;
  // background: url('../../../../../public/assets/user_info.jpg') no-repeat top center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 152px;
  padding: 8px 24px;
  background: linear-gradient(to bottom, var(--ant-primary-color), var(--ant-primary-5), var(--ant-primary-3));
  p {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
  }
}

.user_info {
  display: flex;
  margin-top: 16px;

  img {
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px #63A1EE;
    border-radius: 30px;
    margin-right: 25px;
  }

  li {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 24px;
  }
}
