.card_container {
  :global {
    .ant-card-head {
      font-size: 14px;
      font-weight: 400;
    }
    .ant-card-body {
      padding: 16px;
    }
    .ant-card-type-inner .ant-card-body {
      padding: 16px;
      font-weight: 400;
    }
  }
}
