.table_modal {
  .ant-modal-body {
    padding: 0px;
    padding-top: 4px;
  }
  .header {
    .right {
      float: right;
      width: 200px;
    }
  }
}
.pullSearch {
  width: 200px;
  float: left;
  margin: 20px 10px 10px 0px;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: auto;
}
.board_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.board_img_container {
  width: 100%;
  height: calc(100% - 50px);
  border-radius: 4px;
  border: solid 1px #d3d3d3;
}
.board_img {
  width: 100%;
  height: 100%;
}
.board_bt_group {
  margin-top: 24px;
  button {
    margin-right: 10px;
  }
  .bt_confirm {
    color: #fff !important;
    background-color: var(--ant-primary-color) !important;
  }
}
// .table {
//   //TODO：暂时添加此高度，匹配到其他手写板删除
//   height: 86px;
// }
