.sendTask{
    position: relative;
    padding: 8px;
    margin-bottom: -15px;
    width: 100%;
}
.header{
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    .search{
        width: 200px!important;
    }
}
.gray{
    color: rgba(0, 0, 0, 0.25);
}
.red{
    color: red;
}
.green{
    color: rgb(28, 169, 63);
}
.success{
    border:none;
    color:#1890ff;
}
.error{
    border:none;
    background-color: #fff !important;
}