.form_tabs {
  width: 100%;
  :global {
    .ant-tabs-content-holder {
      height: inherit;
    }
    .ant-tabs-nav {
      height: 41px;
      border-bottom: 1px solid #d9d9d9;
      background-color: unset;
    }
  }
}
