.container {
  width: 100%;
  height: calc(100vh - 243px);
  background: #ffffff;
  border-radius: 4px;
  .control_wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    justify-content: space-around;
  }
  .table_wrapper {
    padding: 0 20px;
  }
}
