.select_container{
  width: 595px;
  height:fit-content;
  min-height: 50px;
  background: #FFFFFF;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.5);
  border-radius: 8px;
  padding: 12px;
  .select_value_container{
    width: 100%;
    height: 50px;
    padding: 16px;
    cursor: pointer;
  }
  .icon_down{
    font-size: 16px;
    color: #666666;
    float: right;
  }
  .select_value{
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
  }
  .select_value_plac{
    .select_value;
    color: #CCCCCC;
  }
  .select_list{
    width: 100%;
    height: auto;
    border-top: 1px solid #D8D8D8;
    padding-top: 12px;
    li{
      font-size: 16px;
      font-weight: 400;
      color: #666666;
      margin: 7px 0;
      line-height: 30px;
      padding: 0 16px;
      cursor: pointer;
    }
    li:hover{
      border-radius: 4px;
      background: #F6F6F7;
    }
    .li_plac{
      color: #CCCCCC;
    }
  }
}
.container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.1);
}
.container_shadow{
  .container;
  background-color: rgba(0,0,0,0.6);
}
.box_container{
  width: 100%;
  height: 100%;
  background: url('../../../public/assets/jump_bck.jpg');
}


