.container {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    padding: 8px 16px;
    .table{
        padding-top: 8px;
        position: relative;
        height: calc(100% - 40px);
    }
}