.subsystemFileIframeBox {
    :global {
        .ant-collapse > .ant-collapse-item > .ant-collapse-header {
            padding: 5px;
        }
        .ant-list-item {
            padding: 5px 0;
            display: flex;
            justify-content: center;
        }
        .ant-collapse-content-box {
            padding: 5px 20px;
        }
        .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
            color: #1890ff;
        }
        .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-header-text {
            color: #1890ff;
        }
    }
}
