.ad_button {
  margin-bottom: 8px;
  margin-right: 8px;
}
.platformCodeRules_modal{
  :global{
    .ant-table-tbody > tr > td,.ant-table-thead > tr > th{
      padding:0px
    }
    .ant-modal-body {
      overflow: visible !important;
    }
  }
}
