.container{
    width: 100%;
    height: 100%;
    // padding:8px;
    .sub_content{
        .right_content{
            height: 100%;
            padding-top: 8px;
            .right_button{
                display: flex;
                justify-content: space-between;
                padding-right: 8px;
                height: 26px;
                .back_reset{
                    margin-right: 8px;
                }
            }
            .right_header{
                padding-left: 8px;
                padding-right: 8px;
                margin-top: 12px;
                border-top: 1px solid #D9D9D9;
                border-bottom: 1px solid #D9D9D9;
                height: 270px;
                :global{
                    .ant-empty-normal{
                        margin: 0;
                    }
                }
                .chose_module{
                    color: var(--ant-primary-color);
                    padding: 2px 8px;
                    border-radius: 4px;
                    margin-top: 8px;
                    background: #EFF2FF;
                    cursor: pointer;                  
                }
            }
            .right_table{
                height: calc(100% - 312px);
                // margin-top: 6px;
                overflow-y: auto;
                .active_tab{
                    // height: 100%;
                    .header{
                        // height: 32px;
                        // line-height: 32px;
                        display: flex;
                        align-items: center;
                        margin-top: 8px;
                        padding-right: 8px;
                        .sub_header_name{
                            width: 100%;
                            color: #000000D9;
                            padding-left: 8px;
                            margin-right: 4px;
                            font-size: 14px;
                            font-weight: bold;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            .sub_header_img{
                                width: 16px;
                                height: 16px;
                                margin-right: 8px;
                            }
                        }
                        .button_reset{
                            padding: 6px 8px !important;
                            line-height: 18px !important;  
                        }
                    }
                }
                .table_box{
                    padding-left: 8px;
                    .header{
                        // height: 32px;
                        // line-height: 32px;
                        display: flex;
                        align-items: center;
                        margin-right: 8px;
                        margin-top: 8px;
                        .sub_header_name{
                            width: 100%;
                            color: #000000D9;
                            margin-right: 4px;
                            font-size: 14px;
                            font-weight: bold;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            .sub_header_img{
                                width: 16px;
                                height: 16px;
                                margin-right: 8px;
                            }
                        }
                        .button_reset{
                            padding: 6px 8px !important;
                            line-height: 18px !important; 
                        }
                    }
                }
                .table_content{
                    // padding-left: 8px;
                    margin-top: 8px;
                }
            }
        }
        &>div{
            &>div{
                overflow: hidden;
            }
        }
    }
    .resize_left_right{
        width: 100%;
        height: 100%;
        position: relative;
        .line{
            position: absolute;
            top: 22px;
            height: 1px;
            width: 100%;
            background: #e9e9e9;
            left: 0;
            z-index: 999;
        }
        .left_cont{
            height: 100%;
            .left_tree{
                padding-top: 8px;
                height: calc(100% - 22px);
                // :global{
                //     .ant-tree {
                //         height: 100%;
                //     }
                // }
            }
        }
        .right_cont{
            height: 100%;
            position: relative;
            .right_apply{
                background: #fff;
                position: relative;
                z-index: 99999;
            }
            .right_table{
                padding-top: 8px;
                // padding-left: 8px;
                height: 100%;
            }
        }
        &>div:last-child{
            &>div{
                overflow: hidden;
                // height: calc(100% - 22px);
            }
        }
    }
    
}
.process_box{
    height: 100%;
    :global{
        .ant-tabs{
            height: 100%;
            .ant-tabs-content{
                height: 100%;
                .ant-tabs-tabpane{
                    height: 100%;
                }
            }
        }
        .ant-table-cell-ellipsis{
            overflow: unset;
        }
        .ant-table-cell{
            overflow: unset;
        }
    }
    .detail_modal{
        height: 100%;
        .line{
            margin-right: 8px;
        }
        .detail_table{
            margin-top: 8px;
            height: calc(100% - 32px);
        }
    }
    
}

.popover_style{
    position: absolute;
    top:0  !important;
    :global{
      .ant-popover-inner-content{
        padding:4px;
        color: red;
        font-size: 12px;
        height: 32px;
        line-height: 24px;
      }
    }
}

.tree{
    padding-top: 8px;
    height: 100%;
    :global {
        .ant-tree-switcher-noop,
        .ant-tree-show-line .ant-tree-indent-unit {
          visibility: hidden;
        }
      }
    .tree_search{
        width: 100%;
        width: 205px;
        margin-bottom: 8px;
        margin-left: 8px;
    }
    &>div{
        height: calc(100% - 48px);
        overflow: auto;
    }
}