.doubt {
  padding-top: 16px;
  :global {
    .ant-form-item .ant-form-item-control-input {
      width: 200px;
    }
    .ant-select.ant-select-in-form-item {
      width: 100% !important;
    }
  }
}
