.apply_auth_warp{
  :global{
    .ant-tabs-top > .ant-tabs-nav{
      margin-bottom: 0px;
    }
    .ant-tabs{
      height: 100%;
    }
    .tabs___uS2GL .ant-tabs-nav{
      margin-top: 0px;
    }
    .ant-tabs-content{
      height: 100%;
    }
    .ant-tabs-tabpane-active{
      height: 100%;
    }
  }
}