.info_warp{
  .title{
    font-size: 16px;
    padding-left: 12px;
    margin-bottom: 20px;
  }
  .info_content{
    padding-left: 12px;
    &>ul{
      &>li{
        // float: left;
        width: 100%;
        margin-bottom: 15px;
      }
    }
    .desc{
      display: flex;
      &>textarea{
        padding-top: 2px;
        border:none;
        color:#333;
      }
    }
    .label{
      text-align: right;
      display: inline-block;
      width: 136px;
      word-break: break-all;
    }
    // &>p{
    //   line-height: 30px;
    //   height: 30px;
    //   .label{
    //     text-align: right;
    //     width: 100px;
    //     display: inline-block;
    //   }
    // }
  }
}
