.formInfo_warp{
  padding-bottom: 20px;
  .head{
    height: 42px;
    border-bottom: 1px solid;
    .right{
      float: right;
    }
  }
  .footer{
    text-align: right;
    height: 64px;
    line-height: 64px;
  }
}
.upload{
  font-size: 14px;
  color: var(--ant-primary-color);
  margin-left: -4px !important;
}
