.auth_warp{
  p{//不知道为啥全局去掉margin-bottom没起作用
    margin-bottom: 0px;
  }
  background-color: #fff;
  height: 100%;
  // height: calc(100% - 53px);
  //padding:24px;
  // width: 1200px;
  // height: 380px;
  // width: 980px;
  // padding-top: 0px;
  // .table_warp{
  //   // width: 1200px;
  //   // table{
  //   //   border-top: 1px solid #505766;
  //   // }
  // }
  .height_warp{
    // margin-top: 8px;
    // margin-right: 8px;
    // margin-bottom: 8px;
    padding: 8px;
    overflow: hidden;
    .search_warp{
      width: 300px;
      float: right;
    }
  }
  .footer{
    margin-top: 10px;
    height: 32px;
    .save{
      float: right;
    }
  }
}
