.operation_a{
  margin-right: 5px;
}
.file_name{
  .title{
    color: var(--ant-primary-color) !important;
  }
  .delete{
    font-size: 10px;
    color: var(--ant-primary-color) !important;
    margin-left: 5px;
    cursor: pointer;
  }
}