.node_form_auth{
  height: 100%;
}
.header{
  height: 48px;
  padding-bottom: 8px;
  padding-top: 8px;
  .left{
    float: left;
  }
  .right{
    float: right;
    &>button{
      margin-right:8px;
      &:last-child{
        margin-right: 0px;
      }
    }
  }
}
// :global{
//   // .ant-table-body{
//   //   height: 300px;
//   // }
// }
