.layout{
    padding:0px;
      [class^="ant-layout-content"]{
          margin: 0px;
      }
      // padding: 8px 16px 0;
      // background: #f0f2f5;
    p{
      margin-bottom: 0px;
    }
  }
  .portal_layout{
    padding:0px;
      [class^="ant-layout-content"]{
          margin: 0px;
          margin-top: 72px;
      }
      // padding: 8px 16px 0;
      // background: #f0f2f5;
    p{
      margin-bottom: 0px;
    }
  }