.errMsg {
  width: 200px;
  overflow: auto;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.content_top {
  margin-top: 25px;
}
.pay_fail,
.pay_success {
  width: 100px !important;
}
.errMsg::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
.regiter {
  margin-right: 8px;
}
