@font-face {
  font-family: "iconfont"; /* Project id 3805709 */
  src: url('iconfont.woff2?t=1670328056033') format('woff2'),
       url('iconfont.woff?t=1670328056033') format('woff'),
       url('iconfont.ttf?t=1670328056033') format('truetype'),
       url('iconfont.svg?t=1670328056033#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-codingScheme:before {
  content: "\e688";
}

.icon-zhankaishouqi:before {
  content: "\e663";
}

.icon-zhankaixiala:before {
  content: "\e685";
}

.icon-xiangmuyusuanzhibiao:before {
  content: "\e686";
}

.icon-budgetTargetState:before {
  content: "\e627";
}

.icon-baoxiaofeiyong:before {
  content: "\e628";
}

.icon-dynamicPage_deptBudgetIndicatorAnalysis:before {
  content: "\e629";
}

.icon-caiwuyusuanershangshenbao:before {
  content: "\e62b";
}

.icon-caiwuyusuanyishangshenbao:before {
  content: "\e62c";
}

.icon-caigouguanli:before {
  content: "\e62d";
}

.icon-dynamicPage_gov_pro:before {
  content: "\e62e";
}

.icon-travelExpense:before {
  content: "\e62f";
}

.icon-circulateWork:before {
  content: "\e630";
}

.icon-caizhengyusuanshenbao:before {
  content: "\e631";
}

.icon-chalvbaoxiao:before {
  content: "\e632";
}

.icon-waitMatter:before {
  content: "\e633";
}

.icon-chalvshenqing:before {
  content: "\e634";
}

.icon-invoiceManagement:before {
  content: "\e635";
}

.icon-gerenjiekuan:before {
  content: "\e636";
}

.icon-signDisk:before {
  content: "\e637";
}

.icon-daorujichushuju:before {
  content: "\e638";
}

.icon-feiyongshenqing:before {
  content: "\e639";
}

.icon-traceWork:before {
  content: "\e63a";
}

.icon-workItem:before {
  content: "\e63b";
}

.icon-hetongguanli:before {
  content: "\e63c";
}

.icon-gongnengkemuzhihangfenxi:before {
  content: "\e63d";
}

.icon-dynamicPage_functional:before {
  content: "\e63e";
}

.icon-gongwenguanli:before {
  content: "\e63f";
}

.icon-workTrust:before {
  content: "\e640";
}

.icon-dynamicPage_account:before {
  content: "\e641";
}

.icon-huiyifeibaoxiao:before {
  content: "\e642";
}

.icon-guanzhushixiang:before {
  content: "\e643";
}

.icon-jichushujumabiao:before {
  content: "\e644";
}

.icon-huiyifeishenqing:before {
  content: "\e645";
}

.icon-a-jibenzhichushengchengyusuanzhibiao:before {
  content: "\e646";
}

.icon-basicData:before {
  content: "\e647";
}

.icon-jibendanganjiezhuan:before {
  content: "\e648";
}

.icon-jiekuanchaoqiyujing:before {
  content: "\e649";
}

.icon-publicDisk:before {
  content: "\e64a";
}

.icon-caiwuyusuanpifu:before {
  content: "\e64b";
}

.icon-jiekuan:before {
  content: "\e64c";
}

.icon-jiekuandan:before {
  content: "\e64d";
}

.icon-peixunfeishenqing:before {
  content: "\e64e";
}

.icon-dynamicPage_economic:before {
  content: "\e64f";
}

.icon-jingjikemuzhihangfenxi:before {
  content: "\e650";
}

.icon-renyuanguanli:before {
  content: "\e651";
}

.icon-peixunfeibaoxiao:before {
  content: "\e652";
}

.icon-laowufeibaoxiao:before {
  content: "\e653";
}

.icon-shihoubaoxiao:before {
  content: "\e654";
}

.icon-shiqianshenqing:before {
  content: "\e655";
}

.icon-qitafeiyongbaoxiao:before {
  content: "\e656";
}

.icon-personWork:before {
  content: "\e657";
}

.icon-calendarMg:before {
  content: "\e658";
}

.icon-richangbaoxiao:before {
  content: "\e659";
}

.icon-custom:before {
  content: "\e65a";
}

.icon-addressBook:before {
  content: "\e65b";
}

.icon-allWork:before {
  content: "\e65c";
}

.icon-monitorWork:before {
  content: "\e65d";
}

.icon-notification:before {
  content: "\e65e";
}

.icon-noticeAnnouncement:before {
  content: "\e65f";
}

.icon-trustedWork:before {
  content: "\e660";
}

.icon-notificationList:before {
  content: "\e661";
}

.icon-trustWork:before {
  content: "\e662";
}

.icon-dynamicPage_project:before {
  content: "\e664";
}

.icon-dynamicPage_projectBudgetIndicatorLedger:before {
  content: "\e665";
}

.icon-default:before {
  content: "\e666";
}

.icon-dynamicPage_projecttPrcentWarning:before {
  content: "\e667";
}

.icon-a-xiangmuzhichushengchengyusuanzhibiao:before {
  content: "\e668";
}

.icon-dynamicPage_budgetPrcentWarning:before {
  content: "\e669";
}

.icon-dynamicPage_budgetDispenReduece:before {
  content: "\e66a";
}

.icon-budgetBasicData:before {
  content: "\e66b";
}

.icon-sendWork:before {
  content: "\e66c";
}

.icon-dynamicPage_budgetDispenAdd:before {
  content: "\e66d";
}

.icon-yusuanbianbaoguanli:before {
  content: "\e66e";
}

.icon-doneWork:before {
  content: "\e66f";
}

.icon-yusuanzhibiaotiaozheng:before {
  content: "\e670";
}

.icon-dynamicPage_budgetAdjustment:before {
  content: "\e671";
}

.icon-dynamicPage_budgetDecompose:before {
  content: "\e672";
}

.icon-dynamicPage_budget:before {
  content: "\e673";
}

.icon-dynamicPage_budgetRelease:before {
  content: "\e674";
}

.icon-dynamicPage_budgetIndicatorLedger:before {
  content: "\e675";
}

.icon-budgetTarget:before {
  content: "\e676";
}

.icon-budgetTargetMange:before {
  content: "\e677";
}

.icon-zhichuguanli:before {
  content: "\e678";
}

.icon-zhifutaizhang:before {
  content: "\e679";
}

.icon-disk:before {
  content: "\e67a";
}

.icon-exBasicData:before {
  content: "\e67b";
}

.icon-indicatorWarning:before {
  content: "\e67c";
}

.icon-dynamicPage_expense:before {
  content: "\e67d";
}

.icon-zhijiebaoxiao:before {
  content: "\e67e";
}

.icon-dynamicPage_addReduceBudget:before {
  content: "\e67f";
}

.icon-information:before {
  content: "\e680";
}

.icon-infoAnnouncement:before {
  content: "\e681";
}

.icon-informationList:before {
  content: "\e682";
}

.icon-zichanguanli:before {
  content: "\e683";
}

.icon-zichanfenlei:before {
  content: "\e684";
}

