.pro_refi_warp {
  height: 100%;
  :global {
    .container___v8WyI .tree_dom___YmiXk {
      overflow: hidden;
    }
  }
  .org_warp {
    padding-top: 8px;
    padding-left: 8px;
    height: 100%;
  }
  .pro_list {
    height: calc(100% - 40px);
    position: relative;
  }
}
