.errMsg {
  width: 200px;
  overflow: auto;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
._box {
  margin-left: 8px;
  display: flex;
  align-items: center;
}
.errMsg::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
.regiter {
  margin-right: 8px;
}
.pay_fail,
.pay_success {
  width: 90px !important;
}
