
.wrap_tree {
  height: 100%;
  margin-top: 8px;
  // &>div:first-child{
  //   height:calc(100% - 121px) !important
  // }
  .select_platform_box {
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid #464D5B;
    .select_tips {
      margin: 0 10px;
    }

    .select_platform {
      min-width: 260px;
    }
  }
  .content{
    height: 450px;
  }
}

.registe_tree {
  padding: 8px 0px 0px;
  height: 370px;
  overflow: auto;
}

.modules_tree {
  padding: 8px 0px 0px 8px;
  height:100%;
  overflow: auto;
}
.node{
  height: 225px;
  overflow: auto;
  .td{
    border: 1px solid #ECECEC;
    width: inherit;
  }
  .first{
    width: 150px;
    float: left;
  }
  .sencod{
    width: 272px;
    float: left;
    .td{
      height: 40px;
    }
  }
  .third{
    width: 520px;
    float: left;
    .td{
      height: 40px;
    }
  }
}
