.is_overflow {
  overflow: unset !important;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list_wrap {
  word-break: keep-all;
  white-space: pre-wrap;
  word-wrap: break-word;
}
