.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: var(--ant-primary-color)!important;
}
.ant-tabs-tab-btn:focus, .ant-tabs-tab-remove:focus, .ant-tabs-tab-btn:active, .ant-tabs-tab-remove:active,.ant-tabs-tab:hover{
  color: var(--ant-primary-color)!important;
}
.ant-tabs-ink-bar{
  background: var(--ant-primary-color)!important;
}