.follow {
  padding: 10px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #0092dc;
    .left_wrapper {
      font-size: 16px;
      font-weight: 400;
    }
    .right_wrapper {
      cursor: pointer;
      color: #0092dc;
    }
  }
  .list {
    height: calc(100% - 40px);
  }
}

.carousel {
  width: 100%;
  height: 300px;
}