.errMsg {
  width: 200px;
  overflow: auto;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.errMsg::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
.titleText {
  margin-top: 10px;
  color: var(--ant-primary-color);
  padding: 0 10px;
}
