.wardRound {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.warnMessage {
    width: 100%;
    position: absolute;
    bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    .numberItem {
        width: 16px;
        height: 16px;
        color: #fff;
        border-radius: 50%;
    }
}
