.group{
    border: 1px dashed #E4E4E4;
    padding: 8px;
    &>div{
        &>div{
            &>div{
                margin-bottom: 0px!important;
            }
            
        }
    }
    
}
.bt_add_group{
    float: right;
    width: 100px;
    border-radius: 4px;
}

.delete_group{
    display: flex;
    justify-content: flex-end;
    padding: 5px 0px;
}
.add_icon{
    margin-left: 3px;
    line-height: 32px;
    cursor: pointer;
}
.delete_icon{
    margin-left: 2px;
    line-height: 32px;
    cursor: pointer;
}
.menu{
    margin-left: 10px;
    line-height: 32px;
}
.bt_group{
    width: 150px;
    margin: 0 auto;
    padding: 0!important;
}
.test{
    position: absolute;
    right: 0px;
    width: 60px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    padding: 0!important;
    z-index: 100;
    bottom:4px;
}