.other {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  .search {
    width: 200px !important;
  }
}

.add_form {
  .search {
    width: 200px !important;
    margin-bottom: 8px;
  }
}
.fontSize7 {
  font-size: 12px;
  svg {
    font-size: 12px;
  }
}
.wrap {
  height: 400px;
  overflow: auto;
}
.left_org_tree{
  padding-top:16px;
  height:100%;
  .content{
    height:100%
  }
}
.leftTree_button{
  height:calc(100% - 42px);
  overflow: auto;
}
.user_warp{
  height: 100%;
  :global{
    .ant-table-body{
      height:100%;
    }
    .container___cH9K3{
      height:calc(100% - 90px) !important
    }
  }
}
.buttonName{
  color: var(--ant-primary-color);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.buttonSolution_content{
  height: 100%;
  background: #fff;
  padding: 8px;
}