.zdy_modal {
  h1 {
    font-size: 14px;
    font-weight: bold;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      position: relative;
      width: 60px;
      margin: 10px 20px;
      text-align: center;
      color: #4c678d;
      cursor: pointer;
      font-size: 46px;
      p {
        margin-top: -10px;
        font-size: 14px;
        color: #4c678d;
      }
      .checkbox {
        position: absolute;
        display: block;
        top: 40px;
        right: 0;
        width: 20px;
        height: 20px;
      }
      .checked {
        background: url(./images/checked.png) no-repeat;
      }
      .unchecked {
        background: url(./images/unchecked.png) no-repeat;
      }
    }
    .opacity6 {
      opacity: 0.6;
    }
  }
}
