.sedTable {
    :global {
        .ant-table-expanded-row-fixed {
            margin: 0 -17px !important;
            padding-right: 0 !important;
            .ant-table-wrapper {
                overflow: visible !important; //解决样式污染
            }
        }
    }
}
