.warp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 52px;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-right: 8px;
  right: 8px;
  background-color: #fff;
  z-index: 99;
  .pagination {
    margin-right: 20px;
  }
}

.iPagination_button {
  margin-left: 16px;
  border: solid 1px #d9d9d9 !important;
  background-color: #fff;
  color: #505766;
  &:hover,
  &:focus {
    border: solid 1px #505766 !important;
    background-color: #fff;
    color: #505766;
  }
}
