.travel_modal {
  :global {
    .ant-modal-body {
      padding: 0px;
    }
    .left___ma9Vm {
      overflow: hidden;
    }
  }
  .right {
    height: 100%;
    .table_search {
      margin-bottom: 6px;
      overflow: hidden;
      .ts_input {
        width: 200px;
        float: right;
        margin-right: 8px;
      }
    }
    :global {
      .ant-table-wrapper {
        min-width: 680px;
        height: calc(100% - 90px);
      }
    }
  }
  .tree {
    height: 100%;
    :global {
      .ant-tree {
        height: 100%;
      }
    }
  }
}
