.bt_group {
    width: 168px;
    margin: 10px auto 0;
  
    button {
      width: 80px;
      border-radius: 4px;
      height: 28px;
  
  
    }
  
    [class^="ant-bt"] {
      padding: 0;
    }
  }
  
  .text {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .search {
    width: 200px;
    margin: 10px;
  }
  // .footer{
  //   &>:first-child{
  //     position: static !important;  
  //   }
  // }