.tabs {
  :global {
    .ant-tabs-content-holder {
      display: none;
    }
    .ant-tabs .ant-tabs-tab {
      background: #fff !important;
      border: none !important;
      justify-content: center;
    }
    .ant-tabs-nav-wrap {
      background: #fff;
      border: none !important;
    }
  }
}
