.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.panel {
  text-align: center;
  line-height: 100vh;
  background: #f0f0f0;
  border: 1px solid #ddd;
}

.top-panel {
  background: #e0e0e0;
}

.bottom-panel {
  background: #f9f9f9;
}
