.modal_share{
  :global{
    .ant-modal-body{
      padding: 16px 8px 0px 8px;
    }
  }
  .left{
    // .title{
    //   display: block;
    //   color: #03A4FF;
    //   border-bottom: 1px solid #464D5B;
    //   height: 34px;
    // }
    .content{
      width: 100%;
      height: 100%;
      overflow: auto;
      position: absolute;
      &>li{
        margin-top: 16px;
        cursor: pointer;
        height: 24px;
        line-height: 24px;
        &:hover{
          background: #F8F8F8;
        }
      }
    }
  }
  .right{
    // .title{
    //   height: 34px;
    //   line-height: 34px;
    //   border-bottom: 1px solid #464D5B;
    //   display: flex;
    //   justify-content: space-between;
    //   .markedWords{
    //     font-size: 10px;
    //   }
    //   &>button{
    //     // float: right;
    //     margin-right: 20px;
    //     margin-bottom: 4px;
    //   }
    // }
    .content{
      height: 410px;
      overflow: auto !important;
    }
  }
}
.topContent{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #464D5B;
  .title_left{
    display: block;
    color: #03A4FF;
    height: 34px;
    line-height: 34px;
  }
  .title_right{
    height: 34px;
    line-height: 34px;
    display: flex;
    justify-content: space-between;
    .markedWords{
      font-size: 14px;
      margin-right:8px;
    }
    &>button{
      // float: right;
      margin-left: 8px;
      margin-bottom: 4px;
    }
  }
}

