// 常用的 布局
._padding_right_16 {
  padding-right: 16px;
}
._padding_top_8 {
  padding-top: 8px;
}
._padding_right_8 {
  padding-right: 8px;
}
._padding_left_right_16 {
  padding: 0 16px;
}

._margin_right_16 {
  margin-right: 16px;
}
._margin_top_5 {
  margin-top: 5px;
}
._margin_top_2 {
  margin-top: 2px;
}
._margin_right_8 {
  margin-right: 8px;
}
._margin_left_8 {
  margin-left: 8px;
}
._margin_left_right8 {
  margin-left: 8px;
  margin-right: 8px;
}
._flex {
  display: flex;
}
._flex_algin_item_center {
  display: flex;
  align-items: center;
}
._flex_justify_content_between {
  display: flex;
  justify-content: space-between;
}
._flex_justify_content_center {
  display: flex;
  justify-content: center;
}
._flex_1 {
  flex: 1;
}
._transform_rotate_90 {
  transform: rotate(90deg);
}
._svg_w_10 {
  width: 10px;
  height: 10px;
}
._svg_fill {
  fill: #000;
}
._color_fff {
  color: #fff;
}
.color_red {
  color: red;
}
._color_ant_primary {
  color: var(--ant-primary-color);
}
._width_200 {
  width: 200px;
}
._cursor_pointer {
  cursor: pointer;
}
._table_font_show {
  width: 300px;
  overflow: auto;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

._table_font_show::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
