.transfer{
    height: 100%;
    :global{
        .ant-transfer{
            height: 100%;
            .ant-transfer-list-header-title{
                text-align: center;
            }
            .ant-transfer-list-body{
                height: calc(100% - 65px);
                overflow: auto;
                .ant-tree-checkbox-disabled.ant-tree-checkbox-checked .ant-tree-checkbox-inner::after{
                    border-color:rgba(0, 0, 0, 0.25) !important; 
                }
                // .ant-transfer-list-content-item > *:not(:last-child){
                //     display: none;
                // }
                .ant-transfer-list-content-item-checked{
                    background: transparent;   
                }
            }
            // .ant-transfer-list-header > *:not(:last-child){
            //     display: none !important;
            // }
            // .ant-btn-icon-only.ant-btn-sm:last-child{
            //     display: none;
            // }
        }
    }
}