.container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 4px;
  // &>div{
  //     height: 100%;
  // &>div{
  //     height: 100%;
  // }
  // }
}
.tree {
  //padding-top: 7px;
  height: 100%;
  .tree_list {
    margin-top: 8px;
    overflow: auto;
    height: calc(100% - 40px);
  }
  .tree_search {
    padding: 0px 8px 0px 8px;
    height: 32px;
    background: #ffffff;
    //width: 205px;
  }
  .tree_list_user {
    width: 100%;
    overflow: auto;
    margin-top: 14px;
    //height: calc(100% - 60px);
    height: calc(100% - 46px);
    position: absolute;
  }
}
.table {
  padding-top: 7px;
  padding-right: 16px;
  // height: 100%;
}
.edit {
  display: none;
}
.tree_node:hover .edit {
  display: inherit;
  margin-left: 8px;
}

.siteTreeSearchValue {
  background: rgba(255, 235, 117);
}
