.content{
  height: 100vh;
  margin: 0 auto;
  display:table;
  .import_warp{
    margin-top: 50px;
    display: flex;
    &>img{
      margin-right: 60px;
    }
    .import_div{
      display: inline-block;
      margin-top: 100px;
      .import_title{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
      }
    }
  }
  // &>ul{
  //   display:table-cell;
  //   vertical-align:middle;
  //   &>li{
  //     float: left;
  //     width: 350px;
  //     height: 252px;
  //     padding: 20px;
  //     background: #FFFFFF;
  //     box-shadow: 0px 0px 24px 0px rgba(74, 81, 93, 0.1);
  //     border-radius: 3px;
  //     margin-right: 20px;
  //     margin-bottom: 20px;
  //     font-size: 24px;
  //     color: #474D54;
  //     &:last-child{
  //       margin-right: 0px;
  //     }
  //   }
  //   .tenement_img{
  //     // background: url('../../public/assets/tenement_img.png') no-repeat 150px 65px;
  //   }
  // }
}


// .user_warp{
//   margin-top: 50px;
//   width: 400px;
//   height: 500px;
//   background: #FFFFFF;
//   box-shadow: 0px 0px 20px 3px #D1DDF4;
//   border-radius: 8px;
//   padding-top: 30px;
//   .form_title{
//     margin-bottom: 30px;
//     font-size: 36px;
//     color: #03A4FF;
//     text-align: center;
//   }
//   .form_cr{
//     margin-left: 30px;
//     font-size: 16px;
//     .input_warp{
//       border-bottom: 0.5 solid #999999;
//       border-top: 0px;
//       border-left: 0px;
//       border-right: 0px;
//       width:340px;
//       height:45px;
//       &:focus{
//         border-color: #999999;
//         border-right-width: 0px !important;
//         outline: 0;
//         box-shadow:none;
//       }
//     }
//     :global{
//       .ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused{
//         box-shadow:none;
//       }
//     }
//     .submit_btn{
//       margin-top: 20px;
//       width:340px;
//       height:45px;
//     }
//   }
// }
.success_content{
  margin-top: 16px;
  p{
    margin-bottom: 16px;
  }
  &>p:nth-child(1){
    font-size: 24px;
    font-weight: 600;
    color: rgb(28, 169, 63);
  }
}