.font_size_12 {
  font-size: 12px;
}

.flex_column {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.plan_main {
  display: flex;
  position: absolute;
  bottom: 2px;
}

.dot {
  width: 4px;
  height: 4px;
  background: #00b854;
  border-radius: 50%;
  margin: 7px 2px 0 0;
}

.dot_main {
  width: 6px;
  height: 6px;
  background: var(--ant-primary-color);
  border-radius: 50%;
}

.cell_day_label_design {
  display: block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  margin-top: 12px !important;
}

.cell_day_label_design_select {
  width: 18px;
  height: 18px;
  font-size: 18px;
  display: block;
  cursor: pointer;
  color: #ffffff;
  background: #5b95f4;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  margin-top: 8px;
}

.desktop_fs_design {
  font-size: 18px;
  // line-height: 18px;
}

.desktop_wh {
  width: 16px;
  height: 16px;
  line-height: 16px;
}

.color_white {
  color: #ffffff;
}
