.pay_info{
  height: 170px;
  margin-bottom: 16px;
  background: #FFFFFF;
  border-radius: 2px;
  padding: 16px;
  h1{
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    line-height: 22px;
  }

  .pay_list{
    height: 100px;
    margin-top: 16px;
    li{
      float: left;
      width: calc(25% - 12px);
      height: 100%;
      background: linear-gradient(90deg, #6CA2F8 0%, #5793F4 100%);
      box-shadow: 0px 2px 10px 0px #9CAFF8;
      border-radius: 8px;
      margin-right: 16px;
      padding: 19px 24px;
      color: #FFFFFF;
      &:last-child{
          margin-right: 0px;
      }
      &:nth-child(2n){
        background: linear-gradient(90deg, #F6756D 0%, #EA4A44 100%);
        box-shadow: 0px 2px 10px 0px #FF948F;
        span{
          background: #DB4A43;
        }
      }
      i{

        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        font-style: normal;
      }
      span{
        display: inline-block;
        padding: 0 8px;
        height: 21px;
        line-height: 21px;
        background: rgb(24,144,255);
        border-radius: 11px;
        margin-left: 16px;
        text-align: center;
      }
      b{
        font-size: 28px;
        font-weight: 600;
        line-height: 40px;  
      }
    }
    
  }
}