.wrapper {
  :global {
    .ant-table-tbody > tr > td,
    .ant-table-thead > tr > th {
      padding: 0 16px;
    }
    .ant-table-cell {
      height: 40px; //行高统一40px
      font-size: 14px;
    }
    .oddRow {
      & > td {
        background-color: #fff;
      }
    }
    .evenRow {
      & > td {
        background-color: #f8f9fa;
      }
    }
    .oddRow:hover,
    .evenRow:hover {
      & > td {
        background: var(--ant-primary-color-deprecated-bg) !important;
      }
    }
  }
}
