.modal_table{
    .drag_tabel___ovkrI{
        height: calc(100% - 36px);
    }
    --antd-wave-shadow-color: var(--ant-primary-color);
}
.ant-switch-checked{
    background-color: var(--ant-primary-color);
}
.ant-switch:focus {
    box-shadow: 0 0 0 2px var(--ant-primary-1)
}
.operation_group{
    a{
        color: var(--ant-primary-color);
    }
}
