.other{
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    .search{
        width: 200px!important;
    }
}
.fontSize7{
    font-size: 12px;
    svg{
        font-size: 12px;
    }
}
.businessUseSort{
    width: 100% !important;
    height: 100%;
}