.container{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    // &>div{
    //     height: 100%;
        // &>div{
        //     height: 100%;
        // }
    // }
    
}
.tree{
    height: 100%;
    padding-top: 7px;
    .tree_list{
        margin-top: 14px;
    }
    .tree_search{
        margin-right: 15px;
        height: 32px;
        background: #FFFFFF;
        width: 205px;
    }
    
}
.table{
    padding-top: 7px;
}







