.container{
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border-radius: 4px;
  :global{
    .container___2Azr_ .left___1YVO7 {
      max-height: 100%;
    }
  }

}
.table_warp{
  background-color: #ffffff;
  overflow: hidden;
  padding: 8px 8px 20px 8px;
  height:100%;
  .header{
    height: 32px;
    margin-bottom: 8px;
    .left{
      float: left;
    }
    .right{
      float: right;
      &>button{
        margin-right:10px;
        &:last-child{
          margin-right: 0px;
        }
      }
    }
  }
}


.fontSize7{
    font-size: 12px;
    svg{
        font-size: 12px;
    }
}
.marginBottom2{
    >svg{
        // margin-bottom: 2px;

    }   
}
.other{
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    .search{
        width: 200px!important;
    }
}

.body{
    background-color: #fff;
    height: 100%;
  }

//[class^='ant-input-suffix']
.text{
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.add_button{
    width: 64px;
    height: 28px;
    line-height: 6px;
    background: #409DFF;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

.bt_group{
    width: 168px;
    margin: 0 auto;
    button{
        width: 80px;
        border-radius: 4px;
        height: 28px;
        
        
    }
    [class^="ant-bt"]{
        padding: 0;
    }
}
.content{
  height:calc(100% - 70px)
}
