.work_warp{
  background: #fff;
  .search{
    width: 226px;
    height: 32px;
    margin-bottom: 16px;
    margin-top: 16px;
    margin-left: 16px;
  }
  .table{
    border-top: 1px solid #505766;
    .title{
      color: #588CE9;
      cursor: pointer;
    }
  }
}
