.fontSize7{
    font-size: 12px;
    svg{
        font-size: 12px;
    }
}
.marginBottom2{
    >svg{
        // margin-bottom: 2px;

    }
}
.other{
    padding: 0 8px 8px 8px;
    display: flex;
    justify-content: space-between;
    .search{
        width: 200px!important;
    }
}

.body{
    background-color: #fff;
    height: 100%;
  }
.scrollbarStyle{
    overflow:auto;
    &::-webkit-scrollbar {
        height: 6px;
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #c3c3c3;
    }
    &::-webkit-scrollbar-track {
        border-radius: 0;
    }
}
// .add_form,.ability,.design{
//     :global{
//      .main___2gllb .main_header___AQ8kD{
//          height: 0;
//      }
//     }
// }
// .scrollbarStyle{
//     overflow:auto;
//     &::-webkit-scrollbar {
//         height: 6px;
//         width: 6px;
//     }
//     &::-webkit-scrollbar-thumb {
//         border-radius: 5px;
//         background-color: #c3c3c3;
//     }
//     &::-webkit-scrollbar-track {
//         border-radius: 0;
//     }
// }
.abilityModal{
    height:'100%';
    overflow: auto;
}

    :global{
        .ant-popover-inner,.ant-popover-arrow-content::before {
            background-color: #F3F5F9 !important;
        }
    }
//[class^='ant-input-suffix']
