.container{
    background: #F5F5F5;
    height: 100%;
    width: 100%;
    padding: 0.86rem;
    .user_item{
        padding: 0.64rem 0.86rem;
        background: #FFFFFF;
        border-radius: 0.86rem; 
        display: flex;
        flex-direction: row;
        margin-bottom: 0.86rem;
        position: relative;
        .post_stu{
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                display: block;
                background: #EA9743;
                border-radius: 8px;
                padding: 0.64rem 0.93rem;
                font-size: 1.43rem;
                font-family: PingFangSC, PingFang SC;
                font-weight: 500;
                color: #FFFFFF;
                margin-right: 0.86rem;
                line-height: normal;
                
            }
        }
        p{
            flex: 1;
            margin-bottom: 0;
        }
        .user_item_info{
            font-size: 1rem;
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            color: #A3A3A3;
            line-height: 1.43rem;
            b{
                color: #333333;
                font-weight: 400;
                margin-left: 0.7rem;
            }
        }
        .user_item_stu{
            font-size: 0.86rem;
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            // color: #50AC50;
            line-height: 1.21rem;
            text-align: right;
            margin-bottom: 0;
            width: 4.93rem;
            height: 2.14rem;
            background: #DDEEFF;
            border-radius: 0rem 0.57rem 0rem 0.57rem;
            color: #198FFF;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}