
.menuItem{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    dl{
        width: 18%;
        color: #4c678d;
        dt{
            font-size: 46px;
            position: relative;
            img{
                position: absolute;
                left: 74px;
                top:38px;
                width: 20px;
                height: 20px;
            }
            text-align: center;
        }
        dd{
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
.icon{
    width: 60px;
}
.back_circle{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    border: solid 1px red;
    position: absolute;
    left: 27px;
    top: 27px;
}
.fontWeight{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 16px;
    color:#333;
}
.black{
    color: #071e3d;
}
.gray{
    
    color: #4c678d;
}
.shortCut_button{
    height: 26px;
    line-height: 26px;
    border: none;
    background-color: #5B95F4 !important;
    color: #fff !important;

    &:hover,
    &:focus {
    background-color: #4487fa !important;
    }
}