.custom-properties-panel {
    :global{
        .ant-drawer-header{
            .ant-drawer-header-title{
                .ant-drawer-close{
                    display: none;
                }
            }
        }
    }
}
.base-info-common-msg{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    h4{
        margin: 0;
        margin-left: 10px;
        font-weight: bold;
    }
}