.header {
  text-align: left;
  margin-bottom: 4px;
  margin-right: 4px;
}
.bt {
    margin-right: 4px;
    :last-child {
        margin-right: 0px;
    }
}
.checkbox_list {
width: 100%;
.check_box {
    width: 100%;
    & > span:nth-child(2) {
    display: inline-block;
    width: calc(100% - 14px);
    }
    .check_content {
    display: inline-flex;
    width: 100%;
    .fielName {
        color: var(--ant-primary-color) !important;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        white-space: pre;
    }
    .file_size {
        color: #a3a3a3;
        cursor: default;
    }
    }
}
:global {
    .ant-row {
    width: 100%;
    margin-bottom: 4px;
    :last-child {
        margin-bottom: 0px;
    }
    }
}
}
.select_header{
    margin-top: -12px;
    .select_label{
        display: inline-block;
        width: 13%;
    }
    margin-bottom: 10px;
    .select_number{
        width: 87%;
    }
}
.checkbox_container{
    overflow-y: auto;
    height: calc(100% - 50px);
}
.file_contaienr{
    height: 100%;
    width: 100%;
}
.divider {
  margin: 8px 0;
  border-top: 1px dashed #ccc; /* 或者 solid 分隔线 */
}