.stepts{
    :global{
        .ant-steps-item-icon{
            width: 40px;
            height: 40px;
            line-height: 40px;
        }
    }
}
.finally_step{
    :global{
         .ant-steps-item-icon {
            border-color: #FFEACE;
            background: #FFEACE;
            & > .ant-steps-icon {
                color: #FF9400;
            }
        }
    }
}
.finish{
    :global{
        .ant-steps-item-icon {
           border-color: #00CA94;
           background: #00CA94;
           & > .ant-steps-icon {
               color: #FFFFFF;
           }
       }
   }
}
.process{
    :global{
        .ant-steps-item-icon {
           border-color: #3F79FF;
           background: #3F79FF;
           & > .ant-steps-icon {
               color: #FFFFFF;
           }
       }
   }
}
.wait{
    :global{
        .ant-steps-item-icon {
           border-color: #ECECEC;
           background: #ECECEC;
           & > .ant-steps-icon {
               color: #333333;
           }
       }
   }
}

