.fileList {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
  .deleIcon {
    display: none;
  }
}

.fileList:hover {
  background-color: #f8f8f8;
  .deleIcon {
    display: block;
  }
}
