.warp {
  .searchWarp {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    .searchInput {
      width: 226px;
      color: white;
      height: 32px;
      :global {
        .ant-input-suffix {
          margin-right: 10px;
        }
      }
    }
  }
  .pageWarp {
    position: absolute;
    width: 800px;
    height: 52px;
    bottom: 13px;
    right: 0;
  }
}
