.elastic_box {
  display: flex;
}

.tree_dom___1LIIh {
  :globl {
    .ant-col {
      box-sizing: border-box;
      border: 1px solid #ECECEC;
    }
  }
}

.wrap {

  :global {
    .container___2Azr_ .left___1YVO7 {
      height: calc(100% - 35px);
      overflow: hidden;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .container___2Azr_ .v_resize___3wsl9 {
      height: calc(100% - 35px);
      overflow: hidden;
    }

    .container___2Azr_ .tree_dom___1LIIh {
      height: calc(100% - 35px);
      overflow: hidden;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .ant-row.elastic_box___115PL {
      .ant-col:nth-of-type(1) {
        border: 1px solid #ECECEC;
      }
    }
  }
}

.inner_text {
  margin-left: 5px;
  font-size: 7px;
  font-weight: 400;
  color: #333333;
}

.highest_ele {
  width: 15%;
  padding: 0 10px;

  &+div {
    width: 85%;
  }
}

.general_ele {
  width: 45%;
  padding: 0 10px;

  &+div {
    width: 55%;

    >div {
      flex: 1;

      div:nth-of-type(1) {
        width: 100%;
      }
    }
  }
}

.medium_ele {
  padding: 0 10px;
}

.inferior_ele {
  padding: 0 10px;
}

.lowest_ele {
  padding: 0 10px;
}
