//气政通 职级与角色
.rank_header {
  display: flex;

  :global {
    .ant-form-item .ant-form-item-label {
      width: 50px !important;
      text-align: left !important;
    }
  }
}
.rank_modal_box {
  height: 100%;
  position: relative;
  .rank_modal_checkbox {
    width: 205px;
    & > div {
      width: 205px;
    }
  }
  .rank_modal_table {
    width: 68%;
  }
}
