#mobile_container {
  // --ant-primary-color: var(--adm-color-primary);
  #root-master {
    padding-right: 0px;
  }
  .ant-formily-grid-layout{
    display: block;
  }
  .ant-formily-item-label-content{
    font-size: 12px;
    min-width: 22px;
  }
  --ant-primary-color-deprecated-bg: #bae7ff;
  --ant-primary-color-deprecated-border: #69c0ff; 
   .form_detail_warp___3ipko {
    .container___2Azr_ {
      height: calc(100% - 3.43rem) !important;
      .left___1YVO7 {
        & > div {
          overflow: auto;
        }
      }
    }
    
  }
  .ant-modal-wrap {
    // transform: rotate(90deg);

    .ant-modal {
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100% !important;
      padding: 0px;
      max-width: 100%;
      margin: 0px;
      .ant-modal-close-x {
        display: inline-block;
      }
      .ant-modal-content {
        height: 100%;
      }
    }
    .ant-modal-with-footer {
      .ant-modal-body {
        height: calc(100% - 87px) !important;
      }
    }
    .ant-modal-body {
      height: calc(100% - 40px) !important;
    }
    .title_text___FwiPp{
      right: 40px;
      // display: none;
    }
  }

  .qiankun-micro-app-container {
    height: 100%;
  }
  // textarea,input:disabled{  
  //   -webkit-text-fill-color:#333;
  // }
  // .ant-input-affix-wrapper-disabled,
  // .ant-select-disabled,
  // .ant-picker-disabled,
  // .ant-input-number-disabled,
  // .ant-input-disabled,
  // .pull_wrap___Iu1Wg,//下面的控件暂时先这么写
  // .invoice_container___XRSma,
  // .tree_tabel_warp___VknQN .input_disable___xamtx .ant-input-group-addon,
  // .ant-input-affix-wrappe{
  //   -webkit-text-fill-color:#333;
  //   .anticon {
  //     color: #d9d9d9!important;
  //   }

  // }

  // .ant-input-affix-wrapper-disabled,
  // .ant-select-disabled,
  // .ant-picker-disabled,
  // .ant-input-number-disabled,
  // .ant-input-disabled {
  //   background-color: #fff!important;
  //   border: none;
  // }
  // .title_text___FwiPp{
  //   display: none;
  // }
  // textarea,input:disabled{  
  //   -webkit-text-fill-color:#333;
  // }
  // textarea,input:disabled,
  // .tree_tabel_warp___VknQN .input_disable___xamtx .ant-input-group-addon,
  // .ant-input-affix-wrapper{
  //   background-color: #fff!important;
  //   border: none;
  // }
  .sub_table___FA2xn{
    p{
      margin-bottom: 0;
    }
  }
  
}
