.modal_warp {
  :global {
    .drag_tabel___2mYSn {
      border-top: 1px solid;
      height: calc(100% - 92px);
    }
  }
  .modal_table {
    height: 100%;
    :global {
      .ant-spin-nested-loading {
        height: 100%;
      }
      .ant-spin-container {
        height: 100%;
      }
      .ant-table-fixed-header {
        height: 100%;
      }
      .ant-table-container {
        height: 100%;
      }
    }
  }
}
