.iPagination_button {
  // float: right;
  // right: 10px;
  margin-left: 8px;
  border: solid 1px #d9d9d9 !important;
  background-color: #fff;
  color: #505766;
  &:hover,
  &:focus {
    border: solid 1px #505766 !important;
    background-color: #fff;
    color: #505766;
  }
}
.container {
  // padding: 10px 16px 10px 0;
  // height: 52px;
  // position: absolute;
  // display: flex;
  // flex-direction: row-reverse;
  // // bottom: 16px;
  // right: 16px;
  // z-index: 1000;
  // background: #fff;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 32px;
  width: 100%;
  position: absolute;
  bottom: 16px;
  padding-right: 8px;
  right: 0px;
  background-color: #fff;
  z-index: 999;
}
