.tree {
  background: #ffffff;
  padding-left: 14px;
  padding-right: 14px;
  height: calc(100% - 40px);
  overflow: auto;
  .search {
    width: 205px;
    margin-bottom: 14px;
  }
}
:global {
  .ant-tree-title {
    white-space: nowrap;
  }
}
