.container {
  position: relative;
  left: 0;
  right: 0;
  min-height: 200px;
  // padding: 0px 8px 0px 8px;
  height: 100%;
  // max-height: calc(100vh - 145px);
  overflow: hidden;

  .left {
    // position: fixed;
    float: left;
    width: 200px;
    overflow: auto;
    height: calc(100% - 8px);
    // overflow-x: hidden;
    //max-height: 458px;
  }
  .v_resize {
    height: 100%;
    width: 1px;
    position: absolute;
    background: #e9e9e9;
    left: 500px;
    z-index: 2;
    cursor: col-resize;
    user-select: none;
  }
  .tree_dom {
    margin-left: 202px;
    height: 100%;
    overflow: auto;
    :global {
      .ant-table-wrapper {
        clear: none;
      }
      .ant-card-body {
        padding-left: 0px;
      }
      .ant-table-tbody > tr > td {
        word-break: break-all;
      }
    }
  }
  .drag_bt {
    width: 8px;
    height: 20px;
    line-height: 16px;
    background: #ececec;
    border-radius: 2px 0px 0px 2px;
    display: block;
    position: relative;
    top: 49%;
    right: 6px;
    span {
      font-size: 8px;
      color: #858181;
    }
  }
}
