.cash_title {
    text-align: center;
    font-weight: bold;
}
.cash_info_title {
    color: #666;
    width: 80px;
    text-align: end;
    margin-right: 10px;
}
.cashDeposit_list_head {
    padding-top: 8px;
    :global {
        .ant-picker {
            height: fit-content;
        }
    }
}
