.tree_title {
  .hover_opration {
    display: none;

    &>span {
      margin-left: 5px;
    }
  }

  &:hover {
    .hover_opration {
      display: inline-block;
    }
  }
}

.home {
  height: 100%;
  width: 100%;
}
// .addModal{
//     position: relative !important;
//     top:30% !important;
// }
