.date_warp {
  :global {
    .ant-picker-clear {
      right: 22px;
    }
    .ant-picker-suffix {
      color: #333333;
    }
  }
}
.hover_close {
  :global {
    .ant-picker-clear {
      opacity: 1;
    }
  }
}
