.search {
  // padding-top: 8px;
  margin-left: 8px;
  position: relative;
  top: 8px;
  :global{
    .ant-input:focus, .ant-input-focused{
      border-color: #d9d9d9;
      box-shadow: none;
    }
    // .ant-input:hover{
    //   border-color: #d9d9d9 !important;
    // }
  }
}

.searchInput {
  width: 226px;
  color: white;
  height: 32px;
  :global {
    .ant-input-suffix {
      margin-right: 10px;
    }
  }
}

.menus {
  padding-top: 10px;
}

.hintMessage {
  color: red;
  margin-top: 10px;
}

.progress {
  margin-top: 10px;
}

.nowMessage {
  margin-top: 10px;
  height: 10px;
  color: gray;
  font-size: 12px;
}
.button_width{
  width: 48px;
  height: 32px;
}

.addModal {
  position: relative !important;
  top: 30% !important;
  :global{
    .ant-modal-body{
      display: flex !important;
      align-items: center !important;
    }
  }
}
.sort {
  height: 100% !important;
}
