.ant-modal .moveOrCopy {
  .ant-modal-content {
    .ant-modal-body {
      min-height: 250px;
    }
  }
}
.moveOrCopy {
  :global {
    .ant-tree-show-line .ant-tree-indent-unit {
      opacity: 0;
    }
    .ant-tree-switcher-noop,
        .ant-tree-show-line .ant-tree-indent-unit {
          visibility: hidden;
      }
      .ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle{
        line-height: 22px;
      }
    // button:last-child(1) {
    //   background: #ffffff !important;
    //   background-color: #ffffff !important;
    // }
    // .ant-modal-footer .ant-btn-primary {
    //   background: #ffffff !important;
    //   background-color: #ffffff !important;
    // }
  }
}
.btn_width{
  width: 48px;
  height: 32px;
}

// .moveOrCopy button:nth-child(1){
//   width: 80px;
//   position: absolute;
//   left: 48px;
// }
