.warnMessage {
    width: 100%;
    position: absolute;
    bottom: 48px;
    display: flex;
    height: 22px;
    align-items: center;
    justify-content: center;
    .numberItem {
        padding: 5px;
        color: #fff;
        border-radius: 10px;
        width: auto;
        max-height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        min-width: 18px;
    }
}
.warnColor {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 4px;
}
