.left_resize,.right_resize{
    width: 100%;
    height: 100%;
}
.close_wps{
    position: absolute;
    right: 0;
    top: -20px;
    z-index: 999;
    width: 26px;
    height: 26px;
}
.wps_container{
    iframe{
        width: 100% !important;
        height: 100%  !important;
    }
}
.red_template{
    iframe{
        width: 100% !important;
        height: 100% !important;
    }
}
.history_box{
    width: 100%;
    height: 100%;
    position: relative;
}


.local_title{
    margin-top: 20px;
    color: red;
}
// 选择套红模板
.modal_red{
    display: flex;
    align-items: center;
    margin-top: 10px;
    .modal_label{
        margin-right: 8px;
    }
}

// 套红模板
.red_template{
    width: 100%;
    height: 100%;
}
// 另存为
.save_as{
    display: flex;
    align-items: center;
    margin-top: 20px;
    .button_as{
        margin-left: 8px;
    }
    .input_text{
        width: 300px;
        margin-right: 8px;
    }
}
.left_and_right_header{
    display: flex;
    margin-top: 8px;
    justify-content: center;
    .type{
        margin-right: 8px;
    }
}
.left_and_cont{
    display: flex;
    margin-top: 8px;
    align-items: center;
    .watch_file{
        margin-top: 15px;
        margin-right: 8px;
    }
}
.left_and_right_footer{
    display: flex;
    margin-top: 8px;
    margin-left: 8px;
    svg{
        width: 20px;
        height: 20px;
        margin-left: 8px;
        cursor: pointer;
    }
}