// 套红模板
.red_template{
    width: 100%;
    height: calc(100% - 32px);
}
.red_template{
    iframe{
        width: 100% !important;
        height: calc(100% - 40px) !important;
    }
}
.wps_header{
    display: flex;
    justify-content: flex-end;
    .cancel{
        margin-right: 8px;
    }
}