.warp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 8px;
    width: 100%;
    background: #fff;
    z-index: 2;
    height: 48px;
}

.iPagination_button {
    margin-left: 16px;
}
