.accessory_button{
    width:100%;
    position: relative;
    .limitImg{
        position: absolute;
        bottom:0;
        right:154px;
        color:#999;
    }
    :global{
        .ant-form .ant-form-item:nth-child(1){
            margin-bottom:4px !important
        }
        .ant-empty-normal {
            margin: 8px 0;
        }
        .ant-form .ant-form-item-label > label {
            margin-left: 8px;
        } 
       
    }
    .upload_button{
        position: absolute;
        top: 0px;
        right: 80px;
    }
    button{
        span{
            font-size: 14px;
            // letter-spacing: -2px;
        }
        float: right;
        // border: solid 1px #D9D9D9;
        // background-color: #fff;
        // color: #666;
        // margin-right:8px;
        // &:hover,
        // &:focus {
        //   border: solid 1px #505766;
        //   background-color: #fff;
        //   color:#666;
        // }
    }
}
.clickRowsStyle{
    background-color: #f6f6f7;
}
.resetNameModl{
    position: relative !important;
    top:30% !important;
}
.accessory_icon{
    position: absolute;
    top:23px;
    left:-75px;
}
.fileTitle{
    max-width:400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
